.hero__homepage {
  background-image: url("../../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding-bottom: 145px;
  position: relative;
}
.filter__container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 21px 38px;
  border-radius: 10px;
}

.hero__homepage .hero__divider {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hero__homepage .hero__divider .divider__image {
  width: 100%;
}

/* /////////////////////// */

.table .table__row .table__column .description {
  font-size: 14px;
}

.table .table__row .table__column .choice {
  font-size: 20px;
  font-weight: 600;
}

/* //////////////// */
.table .table__choice-main {
  display: grid;
  grid-template-columns: 281px 240px 166px 166px 217px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  overflow: hidden;
}

.table .table__choice-main .table__column {
  padding: 20px 27px;
}

.table .table__choice-main .table__column:not(:last-child) {
  border-right: 1px solid #ebebeb;
}
/* //////////////// */

.table .table__choice .table__column .description {
  font-size: 14px;
}

.table .table__choice {
  display: grid;
  grid-template-columns: 200px 200px 200px minmax(150px, 1fr);
  column-gap: 20px;
}

.table .table__choice .table__column {
  border-radius: 5px;
  border: 1px solid #ebebeb;
  padding: 14px 13px;
}

/* //////////////// */
.table .table__tags {
  display: grid;
  grid-template-columns: 200px minmax(250px, 1fr);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 7px 13px;
}

.table .table__tags .line {
  height: 45px;
  width: 1px;
  background-color: #ebebeb;
}

.table .table__tags .tag__items {
  column-gap: 12px;
  row-gap: 12px;
  padding-left: 12px;
}

.table .table__tags .tag__item {
  padding: 8px;
  background-color: #defaee;
  border-radius: 3px;
}

.table .table__tags .tag__item .tag__text {
  font-size: 14px;
  display: inline;
}

.table .table__tags .tag__item .tag__close {
  margin-left: 14px;
}
/* //////////////// */
.table .table__offers .table__rating .rating__icon {
  margin-right: 11px;
}

.table .table__offers .table__rating .rating__content .rating__text {
  font-size: 14px;
}

.table .table__offers .table__offer .offer__btn {
  all: unset;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  background-color: #00bf6f;
  color: #ffffff;
  margin-left: 20px;
}
